.header {
    background-color: #b1a0d9;
    color: #fff;
    padding:  0;
    text-align: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .header-content h1 {
    margin: 20px;
  }
  
  .header-content a {
    color: #fff;
    text-decoration: none;
  }
  
  .tableContainer {
    max-width: 960px;
    margin: 20px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .filterContainer {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow filters to wrap to the next line */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute space between items */
    max-width: 960px;
    margin: 20px auto;
  }
  
  .filter {
    display: flex;
    align-items: center; /* Add some space between filters */
  }
  
  .filter select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .filter input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .filter button {
    padding: 5px 10px;
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left:10px ;
    
  }
  
  .filter button:hover {background-color: #c82333;;
  }
  
  .filter button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .filter_button:disabled {
    background-color: #ccc;
    color: #888; /* Adjust text color for disabled state */
    cursor: not-allowed;
  }
  .pagination {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #6c5ce7; /* Purple */
    color: #fff;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #4834d4; /* Darker Purple */
  }
  
  .pagination button:disabled {
    background-color: #d1d8e0; /* Light Grey */
    color: #576574; /* Dark Grey */
    cursor: not-allowed;
  }
  .filter_button{
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #6c5ce7; /* Purple */
    color: #fff;
    cursor: pointer;
  }